html {
  scroll-behavior: smooth;
}

.test {
  height: 45vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(1, 1, 1, 0.01) 85%), 
  radial-gradient(ellipse at top left, rgba(0, 123, 255, 0.5), transparent 50%), 
  radial-gradient(ellipse at top right, rgba(218, 119, 83, 0.5), transparent 50%), 
  radial-gradient(ellipse at center right, rgba(153, 102, 255, 0.5), transparent 50%), 
  radial-gradient(ellipse at center left, rgba(255, 153, 204, 0.5), transparent 50%);

}

p{
font-size: large;
}

#intro{
  padding-bottom: 20px;
}

img { 
  max-width: 100%; 
  height: auto; 
}

/* Centering h1 and styling */
#hobbiesH1{
text-align: center;
font-size: 40px;
}

/* Adding typewriter effect to hobbies */
.typewriter h1 {
  text-align: center;
  padding-top: 5px;
}

.typewriter h1 a {
  padding: 2px;
  text-decoration: none;
  background-color: none;
  color: black; /* Set the text color to white */
}

.card-footer {
  background: transparent;
  border-top: 0px;
}

#flashcard{
  background-color: #F7F7F7;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 25px;
  color: rgb(5, 5, 5);
  column-gap: 300px;
}


#card{

  border-radius: 12px;
  padding: 2rem 3rem; /* Adjust padding as needed */
  margin: 1rem;

}

/* For Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  padding: 25px;
  list-style-type: none;
}

.card {

  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  background-color: #f6f5f4;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1.13em;
  margin: 0 0 .3em;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: .8em;   
}

.card__status {
  font-size: 1em;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
:root {
  --surface-color: #fff;
  --curve: 10;
}

* {
  box-sizing: border-box;
}


